%h2 View Components
.card.mb-3
  %header.card-header Books
  .card-body
    .row
      .col-2
        %form.mb-3.d-flex{method: :get}
          - options = [['Title', 'title'], ['Author', 'author'], ['Genre', 'genre']]
          = select_tag :books_sort_by, options_for_select(options, params[:books_sort_by]), include_blank: 'Sort by', class: 'form-select me-2'
          %button.btn.btn-primary{type: :submit} Sort
    .row
      - @books.each_slice(8) do |books|
        .col
          %ul
            - books.each do |book|
              %li
                :ruby
                  icon = case book.genre
                  when /Science fiction/ then  :alien
                  when /Fantasy/ then :dragon
                  when /Mystery/ then :eye
                  when /Romance/ then :heart
                  when /Thriller/ then :skull
                  when /Biography/ then :user
                  when /Legend/ then :scroll
                  when /Fairy/ then :'wand-sparkles'
                  when /Speech/ then :comment
                  else :book
                  end
                %i.fa.fa-fw.fa-lg{class: "fa-#{icon}"}
                = book.title
                %small.d-block
                  - first_name, last_name = book.author.split(' ')
                  = "#{last_name}, #{first_name}"
                %small.text-muted.d-block= book.genre

    = pagy_bootstrap_nav(@pagy_books).html_safe if @pagy_books.pages > 1

.card.mb-3
  %header.card-header Characters
  .card-body
    .row
      .col-2
        %form.mb-3.d-flex{method: :get}
          - options = [['First Name', 'first_name'], ['Last Name', 'last_name'], ['Race', 'race'], ['Class', 'klass']]
          = select_tag :characters_sort_by, options_for_select(options, params[:character_sort_by]), include_blank: 'Sort by', class: 'form-select me-2'
          %button.btn.btn-primary{type: :submit} Sort
    .row
      - @characters.each_slice(4) do |characters|
        .col
          %ul
            - characters.each do |character|
              %li
                = "#{character.last_name}, #{character.first_name}"
                %small.d-block= character.klass
                %small.text-muted.d-block= character.race

    = pagy_bootstrap_nav(@pagy_characters).html_safe if @pagy_characters.pages > 1
